<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="subseenit">
    <script th:src="@{/js/postsData.js}"></script>
    <script th:src="@{/js/upvoteDownvoteButtons.js}"></script>
    <script th:src="@{/js/search.js}"></script>
    <script th:src="@{/js/subscribedSubseenitsData.js}"></script>
    <div th:class="container-fluid">
        <th:block th:include="fragments/subseenit-banner :: subseenit-banner">
        </th:block>
        <div class="jumbotron">
            <div th:class="row">
                <div class="col-md-9">
                    <input type="hidden" id="currentPage" th:value="${currentPage}"/>
                    <input type="hidden" id="totalPages" th:value="${totalPages}"/>
                    <div th:id="postsDiv"></div>
                </div>
                <div class="col-md-3" th:include="fragments/sidebar :: sidebar"></div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>