<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<input type="text" hidden="hidden" th:id="totalSubscribedPagesCount" th:value="${subseenits.getTotalPages()}">
<div id="content">
    <div th:each="subseenit : ${subseenits}" class="col-md-12 mb-2">
        <a th:href="@{/s/{subseenitName}(subseenitName = ${subseenit.getName()})}"
           th:text="|/s/${subseenit.getName()}|"
           class="btn btn-outline-secondary btn-block">
        </a>
    </div>
</div>
</body>
</html>