<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="profile">
    <script th:src="@{/js/user-profile-data.js}"></script>
    <script th:src="@{/js/upvote-downvote-buttons.js}"></script>
    <script th:src="@{/js/save-post-button.js}"></script>
    <div th:class="container-fluid">
        <div class="jumbotron mt-4 night-mode-medium-background">
            <div th:class="row">
                <div class="col-md-9">
                    <input type="hidden" id="submittedPostsPages" th:value="${submittedPostsPages}"/>
                    <input type="hidden" id="submittedCommentsPages" th:value="${submittedCommentsPages}"/>
                    <th:block th:if="${#authentication.getName() == user.getUsername()}">
                        <input type="hidden" id="savedPostsPages" th:value="${savedPostsPages}"/>
                        <input type="hidden" id="upvotedPostsPages" th:value="${upvotedPostsPages}"/>
                        <input type="hidden" id="downvotedPostsPages" th:value="${downvotedPostsPages}"/>
                        <input type="hidden" id="upvotedCommentsPages" th:value="${upvotedCommentsPages}"/>
                        <input type="hidden" id="downvotedCommentsPages" th:value="${downvotedCommentsPages}"/>
                    </th:block>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active night-mode-link" id="nav-posts-tab" data-toggle="tab"
                               href="#nav-posts"
                               role="tab" aria-controls="nav-posts" aria-selected="true">Posts</a>
                            <a class="nav-item nav-link night-mode-link" id="nav-comments-tab" data-toggle="tab"
                               href="#nav-comments"
                               role="tab" aria-controls="nav-comments" aria-selected="false">Comments</a>
                            <th:block th:if="${#authentication.getName() == user.getUsername()}">
                                <a class="nav-item nav-link night-mode-link" id="nav-posts-saved-tab" data-toggle="tab"
                                   href="#nav-posts-saved"
                                   role="tab" aria-controls="nav-posts-upvoted" aria-selected="false">Saved Posts</a>
                                <a class="nav-item nav-link night-mode-link" id="nav-posts-upvoted-tab"
                                   data-toggle="tab"
                                   href="#nav-posts-upvoted"
                                   role="tab" aria-controls="nav-posts-upvoted" aria-selected="false">Upvoted Posts</a>
                                <a class="nav-item nav-link night-mode-link" id="nav-posts-downvoted-tab"
                                   data-toggle="tab"
                                   href="#nav-posts-downvoted"
                                   role="tab" aria-controls="nav-posts-downvoted" aria-selected="false">Downvoted
                                    Posts</a>
                                <a class="nav-item nav-link night-mode-link" id="nav-comments-upvoted-tab"
                                   data-toggle="tab"
                                   href="#nav-comments-upvoted"
                                   role="tab" aria-controls="nav-comments-upvoted" aria-selected="false">Upvoted
                                    Comments</a>
                                <a class="nav-item nav-link night-mode-link" id="nav-comments-downvoted-tab"
                                   data-toggle="tab"
                                   href="#nav-comments-downvoted"
                                   role="tab" aria-controls="nav-comments-downvoted" aria-selected="false">Downvoted
                                    Comments</a>
                            </th:block>
                        </div>
                    </nav>
                    <div class="tab-content pt-3" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-posts" role="tabpanel"
                             aria-labelledby="nav-posts-tab">
                        </div>
                        <div class="tab-pane fade" id="nav-comments" role="tabpanel"
                             aria-labelledby="nav-comments-tab">
                        </div>
                        <th:block th:if="${#authentication.getName() == user.getUsername()}">
                            <div class="tab-pane fade" id="nav-posts-saved" role="tabpanel"
                                 aria-labelledby="nav-posts-saved-tab">
                            </div>
                            <div class="tab-pane fade" id="nav-posts-upvoted" role="tabpanel"
                                 aria-labelledby="nav-posts-upvoted-tab">
                            </div>
                            <div class="tab-pane fade" id="nav-posts-downvoted" role="tabpanel"
                                 aria-labelledby="nav-posts-downvoted-tab">
                            </div>
                            <div class="tab-pane fade" id="nav-comments-upvoted" role="tabpanel"
                                 aria-labelledby="nav-comments-upvoted-tab">
                            </div>
                            <div class="tab-pane fade" id="nav-comments-downvoted" role="tabpanel"
                                 aria-labelledby="nav-comments-downvoted-tab">
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="col-md-3" th:include="profile/profile-sidebar :: profile-sidebar"></div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>