<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="list-posts">
    <div id="content">
        <th:block th:each="post : ${posts}">
            <div class="row mb-3 p-3 rounded shadow" style="background-color: white">
                <div class="mr-3">
                    <input type="text" hidden="hidden" class="idInput" th:value="${post.getId()}">
                    <th:block sec:authorize="isAuthenticated()">
                        <div th:unless="${post.isUpvoted()}" class="arrow-up upvote-button post"></div>
                        <div th:if="${post.isUpvoted()}" class="arrow-up-clicked upvote-button post"></div>
                    </th:block>
                    <div class="text-center">
                        <span class="text-muted score" th:text="${post.getScore()}"></span>
                    </div>
                    <th:block sec:authorize="isAuthenticated()">
                        <div th:unless="${post.isDownvoted()}" class="arrow-down downvote-button post"></div>
                        <div th:if="${post.isDownvoted()}" class="arrow-down-clicked downvote-button post"></div>
                    </th:block>
                </div>
                <div class="mr-3">
                    <th:block th:if="${post.getType() == 'text'}">
                        <a th:href="@{/s/{subseenitName}/comments/{postId}(subseenitName = ${post.getSubseenit().getName()}, postId = ${post.getId()})}">
                            <img th:src="@{/images/text-post-thumbnail.jpg}" alt="..." class="img-thumbnail" width="90">
                        </a>
                    </th:block>
                    <th:block th:if="${post.getType() == 'link'}">
                        <a th:href="@{${post.getLink()}}">
                            <th:block th:unless="${post.getThumbnailUrl().isEmpty()}">
                                <img th:src="@{${post.getThumbnailUrl()}}" alt="..." class="img-thumbnail" width="90">
                            </th:block>
                            <th:block th:if="${post.getThumbnailUrl().isEmpty()}">
                                <img th:src="@{/images/link-no-thumbnail.jpg}" alt="..." class="img-thumbnail"
                                     width="90">
                            </th:block>
                        </a>
                    </th:block>
                </div>
                <div>
                    <div>
                        <th:block th:if="${post.getType()} == 'link'">
                            <a th:href="@{${post.getLink()}}" style="text-decoration: none">
                                <h5 class="mb-0" th:text="${post.getTitle()}" style="color: black;"></h5>
                            </a>
                        </th:block>
                        <th:block th:if="${post.getType()} == 'text'">
                            <a th:href="@{/s/{subseenitName}/comments/{postId}(subseenitName = ${post.getSubseenit().getName()}, postId = ${post.getId()})}"
                               style="text-decoration: none">
                                <h5 class="mb-0" th:text="${post.getTitle()}" style="color: black"></h5>
                            </a>
                        </th:block>
                    </div>
                    <div>
                    <span class="text-muted" style="font-size: 85%">
                        <span th:text="|Submitted ${post.getSubmittedTimeAgo()} by |"></span>
                        <a th:href="@{/u/{creatorUsername}(creatorUsername = ${post.getCreator().getUsername()})}"
                           th:text="|${post.getCreator().getUsername()}|">
                        </a>
                        <span th:text=" to "></span>
                        <a th:href="@{/s/{subseenitName}(subseenitName = ${post.getSubseenit().getName()})}"
                           th:text="|/s/${post.getSubseenit().getName()}|">
                        </a>
                    </span>
                    </div>
                    <div>
                    <span class="text-muted" style="font-size: 85%">
                        <a class="mr-1"
                           th:href="@{/s/{subseenitName}/comments/{postId}(subseenitName = ${post.getSubseenit().getName()}, postId = ${post.getId()})}"
                           th:text="|${post.getComments().size()} comments|">
                        </a>
                        <th:block sec:authorize="isAuthenticated()">
                            <input type="text" hidden="hidden" class="idInput"
                                   th:value="${post.getId()}">
                            <a class="mr-1" href="#" th:id="savePostButton"
                               th:text="${post.isSaved()? 'unsave' : 'save'}"></a>
                            <a class="mr-1" th:href="@{/report/{postId}(postId = ${post.getId()})}">report</a>
                            <th:block sec:authorize="hasAnyRole('MODERATOR', 'ADMIN', 'GOD')">
                                <a th:href="@{/delete/{postId}(postId = ${post.getId()})}">delete</a>
                            </th:block>
                            <th:block sec:authorize="hasRole('USER')">
                                <th:block th:if="${#authentication.getName() == post.getCreator().getUsername()}">
                                    <a th:href="@{/delete/{postId}(postId = ${post.getId()})}">delete</a>
                                </th:block>
                            </th:block>
                        </th:block>
                    </span>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</th:block>
</body>
</html>