<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="list-posts">
    <th:block th:each="post : ${posts}">
        <div class="row mb-3">
            <div class="mr-3">
                <th:block th:if="${post.getType() == 'text'}">
                    <img th:src="@{/images/text-post-thumbnail.jpg}" alt="..." class="img-thumbnail" width="90">
                </th:block>
                <th:block th:if="${post.getType() == 'link'}">
                    <th:block th:unless="${post.getThumbnailUrl().isEmpty()}">
                        <img th:src="@{${post.getThumbnailUrl()}}" alt="..." class="img-thumbnail" width="90">
                    </th:block>
                    <th:block th:if="${post.getThumbnailUrl().isEmpty()}">
                        <img th:src="@{/images/link-no-thumbnail.jpg}" alt="..." class="img-thumbnail" width="90">
                    </th:block>
                </th:block>
            </div>
            <div>
                <h5 th:text="${post.getTitle()}"></h5>
                <i th:text="|Submitted ${post.getSubmittedTimeAgo()} by ${post.getCreator().getUsername()} to /s/${post.getSubseenit().getName()}|"></i>
            </div>
        </div>
    </th:block>
</th:block>
</body>
</html>