<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="post-page">
    <script th:src="@{/js/upvoteDownvoteButtons.js}"></script>
    <script th:src="@{/js/search.js}"></script>
    <script th:src="@{/js/addComment.js}"></script>
    <script th:src="@{/js/commentsData.js}"></script>
    <script th:src="@{/js/subscribedSubseenitsData.js}"></script>
    <div th:class="container-fluid">
        <th:block th:if="${subseenitName}" th:include="fragments/subseenit-banner :: subseenit-banner">
        </th:block>
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-9">
                    <div class="row mb-3 p-3 rounded shadow" style="background-color: white">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="mr-3">
                                    <input type="text" hidden="hidden" class="idInput" th:value="${post.getId()}">
                                    <th:block sec:authorize="isAuthenticated()">
                                        <div th:unless="${post.isUpvoted()}"
                                             class="arrow-up upvote-button post"></div>
                                        <div th:if="${post.isUpvoted()}"
                                             class="arrow-up-clicked upvote-button post"></div>
                                    </th:block>
                                    <div class="text-center">
                                        <span class="text-muted score" th:text="${post.getScore()}"></span>
                                    </div>
                                    <th:block sec:authorize="isAuthenticated()">
                                        <div th:unless="${post.isDownvoted()}"
                                             class="arrow-down downvote-button post"></div>
                                        <div th:if="${post.isDownvoted()}"
                                             class="arrow-down-clicked downvote-button post"></div>
                                    </th:block>
                                </div>
                                <div class="mr-3">
                                    <th:block th:if="${post.getType() == 'text'}">
                                        <img th:src="@{/images/text-post-thumbnail.jpg}" alt="..." class="img-thumbnail"
                                             width="90">
                                    </th:block>
                                    <th:block th:if="${post.getType() == 'link'}">
                                        <a th:href="@{${post.getLink()}}">
                                            <th:block th:unless="${post.getThumbnailUrl().isEmpty()}">
                                                <img th:src="@{${post.getThumbnailUrl()}}" alt="..."
                                                     class="img-thumbnail"
                                                     width="90">
                                            </th:block>
                                            <th:block th:if="${post.getThumbnailUrl().isEmpty()}">
                                                <img th:src="@{/images/link-no-thumbnail.jpg}" alt="..."
                                                     class="img-thumbnail"
                                                     width="90">
                                            </th:block>
                                        </a>
                                    </th:block>
                                </div>
                                <div>
                                    <div>
                                        <th:block th:if="${post.getType()} == 'link'">
                                            <a th:href="@{${post.getLink()}}" style="text-decoration: none">
                                                <h5 class="mb-0" th:text="${post.getTitle()}"
                                                    style="color: black;"></h5>
                                            </a>
                                        </th:block>
                                        <th:block th:if="${post.getType()} == 'text'">
                                            <h5 class="mb-0" th:text="${post.getTitle()}" style="color: black"></h5>
                                        </th:block>
                                    </div>
                                    <div>
                                        <span class="text-muted" style="font-size: 85%">
                                            <span th:text="|Submitted ${post.getSubmittedTimeAgo()} by |"></span>
                                            <a th:href="@{/u/{creatorUsername}(creatorUsername = ${post.getCreator().getUsername()})}"
                                               th:text="|${post.getCreator().getUsername()}|">
                                            </a>
                                            <span th:text=" to "></span>
                                            <a th:href="@{/s/{subseenitName}(subseenitName = ${post.getSubseenit().getName()})}"
                                               th:text="|/s/${post.getSubseenit().getName()}|">
                                            </a>
                                        </span>
                                    </div>
                                    <div>
                                        <span class="text-muted" style="font-size: 85%">
                                            <a class="mr-1" th:text="|${post.getComments().size()} comments|"></a>
                                            <th:block sec:authorize="isAuthenticated()">
                                                <a class="mr-1" th:href="@{/save/{postId}(postId = ${post.getId()})}">save</a>
                                                <a th:href="@{/report/{postId}(postId = ${post.getId()})}">report</a>
                                            </th:block>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div th:if="${post.getType() == 'text'}" class="jumbotron my-4 p-4"
                                         th:text="${post.getText()}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 p-3 rounded shadow" style="background-color: white">
                        <div class="col-md-12">
                            <form id="addCommentForm">
                                <div class="form-group">
                                    <textarea sec:authorize="isAuthenticated()" id="contentTextarea"
                                              class="form-control"
                                              rows="5" placeholder="Enter comment"></textarea>
                                    <textarea sec:authorize="isAnonymous()" id="contentTextarea" class="form-control"
                                              rows="5" placeholder="You need to be logged in in order to comment."
                                              disabled></textarea>
                                    <small style="display: none" id="addCommentError" class="form-text text-danger">
                                        Comment should be
                                        between 3 and 65535 characters.
                                    </small>
                                </div>
                                <button sec:authorize="isAuthenticated()" type="submit" class="btn btn-success">Add
                                </button>
                                <button sec:authorize="isAnonymous()" disabled type="submit" class="btn btn-success">
                                    Add
                                </button>
                            </form>
                        </div>
                    </div>
                    <input type="hidden" id="currentPage" th:value="${currentPage}"/>
                    <input type="hidden" id="totalPages" th:value="${totalPages}"/>
                    <div id="commentsDiv"></div>
                </div>
                <div class="col-md-3" th:include="fragments/sidebar :: sidebar"></div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>