<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="password-change">
    <div class="container mt-5">
        <h1>Change Password</h1>
        <hr>
        <form th:action="@{/user/password/change}" th:method="POST" th:object="${user}">
            <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <input type="password" class="form-control" id="currentPassword" aria-describedby="currentPasswordError"
                       placeholder="Enter current password"
                       name="currentPassword" th:value="*{currentPassword}">
                <small th:if="${wrongPassword}" id="currentPasswordError"
                       class="form-text text-danger">Password is wrong.
                </small>
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" aria-describedby="newPasswordError"
                       placeholder="Enter new password"
                       name="newPassword" th:value="*{newPassword}">
                <small th:if="${#fields.hasErrors('newPassword')}" id="newPasswordError" class="form-text text-danger">
                    Should not be shorter than 5 characters.
                </small>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" aria-describedby="confirmPasswordError"
                       placeholder="Confirm password"
                       name="confirmPassword" th:value="*{confirmPassword}">
                <small th:if="${#fields.hasErrors('confirmPassword')}" id="confirmPasswordError"
                       class="form-text text-danger">Should
                    not be shorter than 5 characters.
                </small>
                <small th:if="${passwordsDoNotMatch}" id="confirmPasswordError" class="form-text text-danger">Passwords
                    don't match.
                </small>
            </div>
            <button type="submit" class="btn btn-primary">Change password</button>
        </form>
    </div>
</th:block>
</body>
</html>