.arrow-up {
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;

    border-bottom: 15px solid grey;
}

.arrow-up-clicked {
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;

    border-bottom: 15px solid darkorange;
}

.arrow-down {
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;

    border-top: 15px solid grey;
}

.arrow-down-clicked {
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;

    border-top: 15px solid #94BFCD;
}

.shadow {
    -webkit-box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}

.engraved-text {
    font-size: 3.5rem;
    color: white;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.scroll-to-top {
    display: none;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 7%;
    bottom: 10%;
    background: #94BFCD url("/images/up-arrow.png") no-repeat center 43%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.scroll-to-top:hover {
    background: #85abb8 url("/images/up-arrow.png") no-repeat center 43%;
}

.btn-info {
    background-color: #94BFCD;
    border-color: #94BFCD;
}

#emptyInbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#emptyInbox i {
    font-size: 10em;
}

#emptyInbox h1 {
    font-weight: bold;
}

#nightModeBtn {
    color: cornflowerblue;
    cursor: pointer;
    font-size: 1.5em;
    margin-right: 0.5%;
}

.img-thumbnail {
    max-height: 6em;
    max-width: 6em;
    object-fit: cover
}

/*Night Mode*/

.night-mode #nightModeBtn {
    color: orange;
}

.night-mode .night-mode-light-background {
    background: #323232 !important;
}

.night-mode .night-mode-medium-background {
    background: #262626 !important;
}

.night-mode,
.night-mode-dark-background {
    background: #181818;
    color: #E5E5E5 !important;
}

.night-mode hr {
    border-color: #899097 !important;
}

.night-mode .night-mode-dark-border {
    border-color: #181818;
}

.night-mode .night-mode-link {
    color: #4CA2FF;
}

.night-mode #navbarSupportedContent > ul > li > a,
.night-mode h5,
.night-mode h1 {
    color: #E5E5E5 !important;
}

.night-mode .text-muted {
    color: #899097 !important;
}