<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="inbox">
    <script th:src="@{/js/threads-data.js}"></script>
    <script th:src="@{/js/messages-data.js}"></script>
    <script th:src="@{/js/send-message-from-inbox.js}"></script>
    <div class="container mt-5">
        <h1>Inbox</h1>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-4" id="threadsDiv" style="overflow:scroll;"></div>
                <div class="col-md-8 pl-5">
                    <div class="row" style="overflow:scroll; height: 375px;" th:id="messagesScrollDiv">
                        <div class="col-md-12" id="messagesDiv">
                        </div>
                    </div>
                    <div class="row mt-3 p-3 rounded shadow" id="sendMessageDiv"
                         style="background-color: white; display: none">
                        <div class="col-md-12">
                            <form id="sendMessageForm" th:method="POST">
                                <input type="text" hidden="hidden" id="threadRecipientUsernameInput">
                                <div class="form-group">
                                    <textarea id="messageTextarea" name="content" class="form-control"
                                              aria-describedby="messageError" rows="5"
                                              placeholder="Enter message"></textarea>
                                    <small style="display: none" id="messageError" class="form-text text-danger">
                                        Message should be between 1 and 255 characters.
                                    </small>
                                </div>
                                <button type="submit" class="btn btn-success">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>